body{
    font-family:'EB Garamond', serif;
    background: whitesmoke;
    color:var(--text);
}

nav a {
    color: var(--text);
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
    color:blue
}

header h1{
    font-family:'Cinzel', serif;
    font-size:2.3rem;
    letter-spacing:4px;
    color:#cfc8ea;
}

nav{
    font-family:'Cinzel', serif;
    letter-spacing:.5px;

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:12px;
    padding:8px;
    background:rgba(236, 238, 241, 0.75);
}

h2 {
    font-family:'Cinzel', serif;
    font-size:1.8rem;
    color:#24232c;
}

p {
    font-family:'EB Garamond', serif;
    font-size:1rem;
    color:#25232f;
}

header {
    background:rgba(8,12,22,.65);
    backdrop-filter:blur(12px);
    border-bottom:1px solid var(--border);
    padding:14px 28px;
}

.box {
    margin: 20px 20px 30px 20px;
    padding: 20px 20px;
    background:rgba(152, 187, 241, 0.75);
    border:1px solid var(--border);
    border-radius: 8px;
}

.box p {
    line-height: 1.5;
    margin: 2px 0:
}